@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  font-size: 13px;
  color: #333333;
}

.table {
  height: 100%;
  width:100%;
  display:flex;
  flex-direction: column;
}

.table-row {
  border-bottom: 1px solid #ddd;
  min-height: 32px;
  display:flex;
}
.table-row:hover {
  background-color: azure;
}

.table-header {
  min-height: 42px;
  font-weight: 600;
  border-bottom: 1px solid #eee;
}

.table-body {
  overflow: scroll;
}

.cell-data {
  min-width: 120px;
  display: flex;
  align-items: center;
}
.cell-sn {
  min-width: 50px;
  padding: 0 15px;
}

.cell-size-1 {
  min-width: 240px;
}
.cell-size-2 {
  min-width: 290px;
}

/* PAGE SETUP */
.page-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 80px);
}
.page-scroll-area {
  flex-grow: 1;
  overflow: scroll;
}

.form {
  margin: 4px 0px;
  padding-top: 4px;
  display:flex;
  flex-wrap: wrap;
}